body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #23242A;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  /* or 36px */

  text-align: center;
  letter-spacing: -0.03em;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  width: 40%;
  margin: auto;
}

section {  
  margin: auto;  
  align-items: center;  
  justify-content: center;
  
  display: grid;
  gap: 1em;
}

input {
  width: 20vw;
  height: 5vh;
  text-align: center;
}

button {
  width: 20vw;
  height: 5vh;
  background-color: #E78004;
  color: #FFFFFF;
  font-size: 1.25rem;
}

.reset-pass-btns {
  margin: auto;  
  align-items: center;  
  justify-content: center;
  display: grid;
  gap: 0.5em;
  
}
button, 
input { cursor: pointer}